<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         strict="false"
         verbose="true">
         
  <testsuites>
    <testsuite name="MogileFS Component Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>