<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         strict="false"
         verbose="true">
         
  <testsuites>
    <testsuite name="MogileFS Component Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="tracker_name" value="test"/>
    <var name="tracker_host" value="localhost:7001"/>
    <var name="tracker_noverify" value="false"/>
    <var name="tracker_timeout" value="10"/>
    <var name="tracker_pathcount" value="999"/>
    
    <var name="mysql_domain" value="test"/>
    <var name="mysql_pdo_options" value="host=localhost;port=3306;dbname=mogilefs"/>
    <var name="mysql_username" value="mogile"/>
    <var name="mysql_password" value="secret"/>
  </php>
</phpunit>